<div class="my-4">
    <h3>Available points: <span class="text-primary">{{ userAvailablePoints }}</span></h3>
</div>

<div class="my-4">
    <h3>{{ newSpaceship.name }} Cost: <span class="text-danger">{{ newSpaceship.cost }}</span></h3>
</div>

<div>
    {% if newSpaceship.name == userOwnedSpaceship.name %}
        <div class="info-message mb-2">
            You already have a {{ newSpaceship.name }}.
        </div>
    {% else %}
        <form action="{{ path('buy_new_spaceship_purchase') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('buy_new_spaceship_token') }}">
            <button type="submit" class="btn btn-secondary btn-lg mb-5"
                {% if newSpaceship.cost > userAvailablePoints %}disabled{% endif %}>
                Buy {{ newSpaceship.name }}
            </button>
        </form>
    {% endif %}
</div>
