{% extends 'base.html.twig' %}

{% block title %}
    Shipyard
{% endblock %}

{% block body %}
    <div class="text-center mt-4">
        {% block description %}
            {% include 'shipyard/description.html.twig' %}
        {% endblock %}

        {% block spaceshipStats %}
            {% include 'shipyard/spaceship_stats.html.twig' %}
        {% endblock %}
			
        {% block form %}
            {% include 'shipyard/form.html.twig' %}
        {% endblock %}

        {% block newShipPurchase %}
            <a href="{{ path('buy_new_spaceship') }}" class="btn btn-secondary btn-lg mb-5">Buy New Spaceship</a>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.componentCostsData = {
            {% for cost in costOfAllComponents %}
            '{{ cost.id }}': '{{ cost.cost|e('js') }}',
            {% endfor %}
        };

        window.componentModifiersData = {
            {% for modifier in modifierOfAllComponents %}
            '{{ modifier.id }}': '{{ modifier.modifier|e('js') }}',
            {% endfor %}
        };
    </script>
    
    <script src="{{ asset('js/componentCosts.js') }}"></script>
    <script src="{{ asset('js/componentModifiers.js') }}"></script>
    <script src="{{ asset('js/costValidation.js') }}"></script>
{% endblock %}
